html {
    scroll-behavior: smooth;
    }
    .csscenter{float:center;text-align:center;}
    .cssheader{font-weight: bold;font-size:180%;text-align:center;line-height: 2cm;}
    .container{font-family: trebuchet ms,geneva ce,lucida,sans-serif;}
    .footer {
        width: 100%;
        background-color:white;
        text-align: center;
        font-family: trebuchet ms,geneva ce,lucida,sans-serif;
    }
    ul {list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #333;}
    li {float: left;}
    li a {display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;}
    li a:hover {background-color: #111;}
    .container{
        background-color: white;
        font-family: trebuchet ms,geneva ce,lucida,sans-serif;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }
    .description{
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        justify-content: center
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        width: fit-content;
        margin-top: 200px;
        margin-bottom: 200px;
    }
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .card-container{padding: 2px 16px;text-align:center;}
    .cat-title{
        text-align: center;
        font-weight: bold;
        font-size: 200%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .category{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .cat-text{
        text-align: center;
    }
    .cat-image{
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
    }
    a:link {
    color: black;
    }
    a:visited {
    color: black;
    }
    a:hover {
    color: gray;
    }